<h1>Add a new bookmark</h1>


<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :list %>
  <%= f.association :movie %>
  <%= f.input :comment %>
  <%= f.button :submit %>
<% end %>

<%= link_to 'Back to index', lists_path %>
